.splash-screen {
    background-color: var(--bg-primary);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: relative;
}

.rect1 {
    animation: scale1 1s infinite linear;
}

.rect2 {
    animation: scale2 1s infinite linear;
}

.rect3 {
    animation: scale3 1s infinite linear;
}

.rect4 {
    animation: scale4 1s infinite linear;
}

.rect5 {
    animation: scale5 1s infinite linear;
}

@keyframes scale1 {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(1.5); }
    100% { transform: scaleY(1); }
}

@keyframes scale2 {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(0.2); }
    100% { transform: scaleY(1); }
}

@keyframes scale3 {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(1.5); }
    100% { transform: scaleY(1); }
}

@keyframes scale4 {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(0.3); }
    100% { transform: scaleY(1); }
}

@keyframes scale5 {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(2); }
    100% { transform: scaleY(1); }
}
